<div class="chart">
    <div class="box">
        <table id="customers">
            <tr >
              
                <th  >USERNAME</th>
                <th  >STATUS</th>
                <th  >TIMEIN</th>
                <th  >TIMEOUT</th>
                
            </tr>
            <tr >
                <td  >john_JK</td>
                <td  >active</td>
                <td  >1:21:11</td>
                <td  >1:41:52</td>
            </tr>
            <tr >
                <td  >john_JK</td>
                <td  >active</td>
                <td  >1:21:11</td>
                <td  >1:41:52</td>
            </tr>
            <tr >
                <td  >john_JK</td>
                <td  >active</td>
                <td  >1:21:11</td>
                <td  >1:41:52</td>
            </tr>
            <tr >
                <td  >john_JK</td>
                <td  >active</td>
                <td  >1:21:11</td>
                <td  >1:41:52</td>
            </tr>
            <tr >
                <td  >john_JK</td>
                <td  >active</td>
                <td  >1:21:11</td>
                <td  >1:41:52</td>
            </tr>
            <tr >
                <td  >john_JK</td>
                <td  >active</td>
                <td  >1:21:11</td>
                <td  >1:41:52</td>
            </tr>
            <tr >
                <td  >john_JK</td>
                <td  >active</td>
                <td  >1:21:11</td>
                <td  >1:41:52</td>
            </tr>
        </table>
    </div>
    <div class="box1"><br><h1>Usage chart</h1>
        <div class="uc"><div class="cr"></div> <h2>&nbsp;-   watch time</h2></div>
        <div class="uc"><div class="cg"></div> <h2>&nbsp;-  subscribers</h2></div>
        <div class="uc"><div class="cb"></div> <h2>&nbsp;-    views/day</h2></div>
    </div>
</div>

<div class="usage">
    <div class="gauge">
        <div class="gauge__body">
          <div class="gauge__fill"></div>
          <div class="gauge__cover">80%</div>
        </div>
      </div>
      <div class="gauge">
        <div class="gauge__body">
          <div class="gauge__filla"></div>
          <div class="gauge__cover">60%</div>
        </div>
      </div>
      <div class="gauge">
        <div class="gauge__body">
          <div class="gauge__fillb"></div>
          <div class="gauge__cover">40%</div>
        </div>
      </div>
    
    </div>