.home{
    position: relative;
    width: 100%;
    height: 100%;
   
}
.box{
    position:absolute;
    background:linear-gradient(35deg, rgb(0, 136, 91),rgb(0, 0, 0),rgb(0, 0, 0),rgb(0, 0, 0),rgb(0,0,0));
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.7);
    margin-top: 40px;
   margin-left: 67px;
    width: 1400px;
    height: 700px;
}
.nav{
    z-index: -1;
    border-radius: 5px 5px 0px 0px;
    width: 100%;
    height:50px;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu a{
color: rgb(255, 102, 0);
text-decoration: none;
cursor: pointer;
font-size: 25px;
margin-right: 25px;

}
.logo{
    margin-left: 25px;
}
.cpic{  
    margin-left: 75px;
    margin-top: -50px;
    
}
.blur{
    content: '';
    width: 300px;
    height: 400px;
    background-color: rgba(99, 99, 99, 0.8);
    position: absolute;
  margin-left: 1020px;
  margin-top: 100px;
  border-radius: 10px;
  font-size: 30px;
 
}
.btext{
width: 275px;
height: 375px;
margin: 40px 20px auto;
color:rgb(47, 255, 238);
opacity: 0.5;
}
.loginbox{
    background-color: transparent;
    width: 300px;
    height: 430px;
    border-radius: 5px;
    margin-left: 425px;
    margin-top: 100px;
   
}
.content{
    display: flex;
    justify-content: space-between;
}
#in{
    border-radius: 5px;
    height: 40px;
    width: 225px;
    background-color: transparent;
    color: orange;
    border: 2px solid rgb(62, 63, 63);
    outline: none;
}
#in.ng-touched.ng-invalid{
    border:2px solid red;
}
#in.ng-touched.ng-valid{
    border:2px solid greenyellow;
}
input::placeholder{
    text-align: center;
}
i{
    margin-left: 25px;
}
#login{
    margin-top: 20px;
    width: 225px;
}
.logintext{
    margin-top: 5px;
    opacity: 0.8;
}
.green{
    border: 2px solid greenyellow;
}
.gree{
    border: 2px solid greenyellow;
}
.red{
    border: 2px solid red;
}