<div class="home">
    <div class="box">
        <div class="nav">
            <div class="logo"><img src="../../assets/772630-removebg-preview.png" width="60px">&nbsp;<span style="color: rgb(141, 222, 247);">For Better <span style="color:rgb(255, 0, 98)">Com</span><span style="color:rgb(187, 255, 0)">munic</span><span style="color:rgb(0, 132, 255)">ation</span> Service</span></div> 
        </div>
       
      <div class="content">
   
            <div class="loginbox">
                <br>
                <div style="font-size: 35px; color:rgb(162, 231, 0)">WELCOME BACK! <h5 style="opacity: 0.5;">sign in to continue</h5></div>
               
                <br>
                <form [formGroup]="formvalid">
                <input  id="in" type="text" placeholder="Username" name="uname" [(ngModel)]="username" formControlName="uname"  [ngClass]="isinput?'green':'red' "><br>
                <h5 class="text-danger"*ngIf="formvalid.controls['uname'].invalid&&formvalid.controls['uname'].touched">*Enter Username</h5><br>
                <input id="in" type="password" placeholder="Password" name="pass" [(ngModel)]="password" formControlName="passw"  [ngClass]="isinput?'green':'red' " minlength="2" maxlength="10"><br>
               
                <h5 class="text-danger" *ngIf="formvalid.controls['passw'].invalid&&formvalid.controls['passw'].touched">*Enter Password</h5>
                <input id="login" type="submit" value="login" (click)="login()" class="btn btn-success">
                </form>
                <h4 style="color:rgb(162, 231, 0);opacity: 0.5;">Forgot password?</h4>
               <div class="logintext"><h2>Register by</h2>
                   <h1><i class="fab fa-instagram"></i> <i class="fab fa-facebook"></i> <i class="fab fa-github"></i> <i class="fab fa-linkedin"></i></h1></div>
            </div>
            <div class="blur" ><div class="btext">we visualise a time when we will be to robots what dogs are to humans, and I’m rooting for the machine.</div></div>
            <div class="cpic" > <img src="../../assets/workspace_inspiration_40stylizimo.jpg" width="467px"> </div>
           
      </div>
    </div>
    </div>




