<table id="customers" >
    <tr >
        <th  >USER ICON</th>
        <th  >USERNAME</th>
        <th  >PASSWORD</th>
        <th  >STATUS</th>
        <th  >TIMEIN</th>
        <th  >TIMEOUT</th>
        
    </tr>
    <tr >
        <td  ><img src="../../assets/users/blue.jpg" ></td> 
        <td  >john_JK</td>
        <td  >124JOHN@1</td>
        <td  >active</td>
        <td  >1:21:11</td>
        <td  >1:41:52</td>
    </tr>
    <tr >
        <td  ><img src="../../assets/users/green.jpg" ></td> 
        <td  >john_JK</td>
        <td  >124JOHN@1</td>
        <td  >active</td>
        <td  >1:21:11</td>
        <td  >1:41:52</td>
    </tr>
    <tr >
        <td  ><img src="../../assets/users/orange.jpg" ></td> 
        <td  >john_JK</td>
        <td  >124JOHN@1</td>
        <td  >active</td>
        <td  >1:21:11</td>
        <td  >1:41:52</td>
    </tr>
    <tr >
        <td  ><img src="../../assets/users/purple.jpg" ></td> 
        <td  >john_JK</td>
        <td  >124JOHN@1</td>
        <td  >active</td>
        <td  >1:21:11</td>
        <td  >1:41:52</td>
    </tr>
    <tr >
        <td  ><img src="../../assets/users/calm-interesting-bearded-guy-trendy-260nw-1017384106.jpg" ></td> 
        <td  >john_JK</td>
        <td  >124JOHN@1</td>
        <td  >active</td>
        <td  >1:21:11</td>
        <td  >1:41:52</td>
    </tr>
    <tr >
        <td  ><img src="../../assets/users/blue.jpg" ></td> 
        <td  >john_JK</td>
        <td  >124JOHN@1</td>
        <td  >active</td>
        <td  >1:21:11</td>
        <td  >1:41:52</td>
    </tr>
    <tr >
        <td  ><img src="../../assets/users/green.jpg" ></td> 
        <td  >john_JK</td>
        <td  >124JOHN@1</td>
        <td  >active</td>
        <td  >1:21:11</td>
        <td  >1:41:52</td>
    </tr>
    <tr >
        <td  ><img src="../../assets/users/orange.jpg" ></td> 
        <td  >john_JK</td>
        <td  >124JOHN@1</td>
        <td  >active</td>
        <td  >1:21:11</td>
        <td  >1:41:52</td>
    </tr>

</table>
