<div class="home">
<div class="box">
    <div class="nav">
        <div class="logo"><img src="../../assets/772630-removebg-preview.png" width="60px"></div>
        <div class="menu"><a  [routerLink]="['/login']" >LOGIN</a></div>
    </div>
    <div class="content">
        <div class="cpic"> <img src="../../assets/pngarea.com_artificial-intelligence-png-7138339.png" width="425px"> </div>
        <div class="ctext"><span style="color: rgb(5, 153, 221); font-size: 90px;">JOIN US</span><br><span style="color: rgb(141, 222, 247); font-size: 40px;">For Better <span style="color:rgb(255, 0, 98)">Com</span><span style="color:rgb(187, 255, 0)">munic</span><span style="color:rgb(0, 132, 255)">ation</span> Service</span></div>  
    </div>


</div>
</div>
