body{
    background:linear-gradient(35deg,rgb(29, 238, 133),rgb(0, 204, 255));
    position: relative;
}
.admin{
    margin-left: 15px;
    color: rgb(71, 141, 0);
    opacity: 0.5;
}
.nav{
    height: 45px;
    width: 1200px;
    border-radius: 25px;
    margin:10px auto;
    background-color: rgba(0,0,0,0.6);
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.but{
margin-right:20px;
color: rgb(57, 221, 233);
}
.but:hover{
    font-size: 20px;
    text-decoration: none;
}
.logo{
    margin-left: 5px;
    color: rgb(223, 223, 223);
}
.link{
    margin-left: 20px;
    text-decoration: none;
}
.displaybox{
   
    background:linear-gradient(to bottom, white,rgb(189, 189, 189));
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.3);
    margin-top: 40px;
   margin-left: 67px;
    width: 1400px;
    height: 600px;
    display: flex;
    
}
.sidenav{
   
    background: linear-gradient(35deg,rgb(226, 15, 245),rgb(0, 174, 255));
    border-radius: 10px 0px 0px 10px;
    width: 20%;
    height: 100%;
    
}
.snavbox{
    margin-left: 20px;
    margin-top: 60px;
    color: rgb(4, 17, 92);
}
.snavlink{
    font-size: 20px;
    margin-top: 20px;
   align-items: center;
    height: 40px;
   
}
.snavlink:hover{
    background-color:rgb(0, 217, 255);
}
.form-control{
    width: 240px;
}
.snavbut{
    width: 240px;
    height: 35px;
    border-radius: 5px;
    border: none;
    background: linear-gradient(to right,rgb(29, 238, 133),rgb(0, 204, 255));
}
.copyright{
    height: 75px;
    background: rgb(1, 1, 39);
    margin-top: 234px;
    color: rgba(128, 255, 0, 0.671);
    border-radius: 0px 0px 0px 10px ;
    text-align: center;
    
}