<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
<div class="box">
    <!-- 1.main nav -->
    <div class="nav">
        <div class="logo"><img src="../../assets/772630-removebg-preview.png" width="60px"></div>
        <div class="menu"><a [routerLink]="['/logout']" class="btn" id="btn" (click)="islogout()">LOGOUT</a></div></div>
    <!-- 2. Content -->
    <div class="content">
    <!-- 2.1.side nav -->
         <div class="sidenav"> 
            <div class="sidenavpic">
                <img src="../../assets/image_72192707.JPG" width="150px" style="border-radius: 50%;"><br>
                <h1>KRISH<h5>The Web Developer</h5></h1>
                <h1><i class="fab fa-facebook-square"></i> <i class="fab fa-instagram"></i> <i class="fab fa-github"></i> <i class="fab fa-whatsapp"></i></h1>    
            </div>
            <div class="copyrights">&copy;2021 All Rights are Reserved </div>
         </div>
         <!-- 2.2 profile content -->

        <div class="profile">
            <div class="prone">
                <div class="pronecont"><h1>Nature Photography</h1><button class="probtn">view collection</button></div>
            </div>

            <div class="profilecontent">
               

                <div class="profilecont2">
                    <div class="picround">
                        <img src="../../assets/image_72192707.JPG" width="40px" height="40px" style="border-radius: 50%; border: crimson 2px solid; margin-left: 4px; margin-top: 2px; margin-bottom: 2px;"> 
                        <div style="margin-top: 13px;margin-left: 5px;">Krish__official</div>
                    </div>

                    <div class="picimg"><img src="../../assets/1533500.jpg" width="500px" height="250px"></div>
                    <div class="pictext"><i class="far fa-heart"></i><i class="far fa-comment"></i><i class="fas fa-share"></i>Liked by <span style="font-weight: bold;">Krish__official</span> and <span style="font-weight: bold;">105 others</span>
                    <div style="opacity: 0.6; margin-left: 15px;"> View all 10 comments</div>
                    </div>
              </div>
              <div class="profilecont1">
                <div class="box1">
                    <img src="../../assets/frames/pic2.JPG">
                    <img src="../../assets/pngarea.com_artificial-intelligence-png-7138339.png" >
                    <img src="../../assets/frames/6861182.png" >
                    <img src="../../assets/frames/pic3.jpeg">
                    <img src="../../assets/1533500.jpg">
                    <span style="color: rgb(248, 17, 86);">more</span>
                </div>

                <div class="box2">
                         <div>SKILLS</div>
                        <div class="skill" style="color: rgb(217, 255, 0);">HTML</div>
                        <div class="skill" style="color: rgb(255, 0, 106);">CSS</div>
                        <div class="skill" style="color: rgb(255, 136, 0);">JAVASCRIPT</div>
                        <div class="skill" style="color: rgb(0, 132, 255);">ANGULAR</div>
                        <div class="skill" style="color: rgb(115, 255, 0);">MONGODB</div>
                </div>
            </div>

            </div>

        </div>
    </div>
</div>


